{% extends 'base.html' %}
{% block title %}add table{% endblock %}
{% block content %}
    <div class="col-lg-6 offset-lg-3">
<form action="{{url_for('checkout')}}" method="post">

                        <div class="row">
                           {{ form.csrf_token }}

                              <div class="form-group">
                                 <label>Name</label>
                                 {{ form.name(class='form-control') }}
                              </div>
                               <div class="form-group">
                                 <label>address</label>
                                 {{ form.address(class='form-control') }}
                              </div>
                              <div class="form-group">
                                 <label>email</label>
                                 {{ form.email(class='form-control', type='email') }}
                              </div>

                                 {{ form.date(class='form-control', type='hidden' ) }}




 <div class="form-group mt-5">
               <button type="submit" class="btn btn-primary">
               <i class="glyphicon glyphicon-plus-sign"></i> Сохранить
               </button>
 </div>


         </form>
    </div>
{% endblock %}
