{% extends 'base.html' %}
{% block title %}add table{% endblock %}
{% block content %}
    <div class="col-lg-6 offset-lg-3">
<form method="POST">
                <div class="panel-body">
					<div class="row">

						    <div class="form-group">
                                 <label>Номер столика</label>
                                <input type="number" class="form-control" name="number_t" value="{{ table.number_t }}">

                              </div>
                               <div class="form-group">
                                 <label>Количество мест</label>
                                     <input type="number" class="form-control" name="quantity_chairs" value="{{ table.quantity_chairs }}">
                              </div>
                                <div class="form-group">
                                 <label>Дата заказа</label>
                                  <input type="date" class="form-control" name="date" value="{{ table.date }}">

                              </div>
                              <div class="form-group">
                                 <label>размеры стола длинна</label>
                                  <input type="text" class="form-control" name="with_tab" value="{{ table.with_tab }}">

                              </div>
                             <div class="form-group">
                                 <label>размеры стола ширина</label>
                                 <input type="text" class="form-control" name="height_tab" value="{{ table.height_tab }}">

                              </div>
                            <div class="col-lg-6">
                            <div class="form-group">
                                 <label>отступ сверху в %</label>
                                <input type="number" class="form-control" name="margin_top" value="{{ table.margin_top }}">

                              </div>
                            </div>
                             <div class="col-lg-6">
                            <div class="form-group">
                                 <label>отступ слева в %</label>
                                <input type="number" class="form-control" name="margin_left" value="{{ table.margin_left }}">
                              </div>
                            </div>
                            <div class="form-group">
                                 <label>повернуть стол</label>
                                <input type="number" class="form-control" name="rotate" value="{{ table.rotate }}">


                              </div>
                           <div class="form-group">
                                 <label>Фигура стола</label>


<select class="form-control" id="so" name="so">
    <option value="{{ table.so }}">{% if table.so == 'square'  %}Квадрат{% else %}Овал{% endif %}</option>
    <option value="square">Квадрат</option>
    <option value="oval">Овал</option>
</select>
                              </div>

					</div>
				</div>

				<div class="panel-footer">
					<button type="submit" class="btn btn-primary">
						<i class="glyphicon glyphicon-plus-sign"></i> Сохранить
					</button>
				</div>
            </form>
    </div>
{% endblock %}
