{% extends 'base.html' %}
{% block title %}Pricing example for Bootstrap{% endblock %}
{% block content %}
<h1>Зал 1</h1>

    <div class="box">
    {% for tables in tables %}
    <div class="{{ tables.so }}" style="margin: {{ tables.margin_top }}% 0 0 {{ tables.margin_left }}%; transform: rotate({{ tables.rotate }}deg);">
        <h5>№ {{ tables.number_t }}</h5>
    <p>мест: {{ tables.quantity_chairs }}</p>
    <p>размер стола: {{ tables.with_tab }} на {{ tables.height_tab }} метра</p>
        <a href="{{ url_for('delete_table', id=tables.id) }}" title="Удалить" class="btn btn-danger">
<i class="fas fa-trash-alt"></i></a>
        <a href="{{ url_for('edit_table', id=tables.id) }}" title="Редактировать" class="btn btn-warging"><i class="fas fa-edit"></i></a>
    </div>
        {% endfor %}

    </div>
{% endblock %}
