{% extends 'base.html' %}
{% block title %}Hall layout{% endblock %}
{% block content %}

<div class="row">
<div class="col-md-3 offset-md-5">
    <form method="POST" action="{{ url_for('index') }}">
   <div class="form-group">
      <input type="date" class="form-control" onchange="this.form.submit();" name="date" value="{{ push_date }}"/>
   </div>
</form>
    <form method="POST" action="{{ url_for('checkout') }}">
   <input type="hidden" onchange="pushDate()" name="date" value="{{ push_date }}"/>
   <button class="alert alert-primary" type="submit">Оформить заказ, количество столов <span id="successAlert">{{ count_cart }}</span> </button>
</form>
</div>
</div>


<div class="box">
   {% for tables in tables %}

   <div class="{{ tables.so }}"  id="{{ tables.id }}" style="top: {{ tables.margin_top }}%; left:{{ tables.margin_left }}%; transform: rotate({{ tables.rotate }}deg);">

       <h5 class="card-title">№ {{ tables.number_t }}</h5>
      <p class="card-text">кол. мест: {{ tables.quantity_chairs }}</p>

      {% for item in tables.order %}
          {% if item.order.date == push_date %}
              <img src="{{ url_for('static', filename='image/res.png') }}" alt="reserved" width="120">
          <p class="btn-danger " hidden><span id="status{{ tables.id }}">БРОНЬ: </span>{{ item.order.date }}</p>

          {% endif %}
      {% endfor %}
      <p>размер стола: {{ tables.with_tab }} на {{ tables.height_tab }} метра</p>
      {% if current_user.has_role('admin')%}  <a href="{{ url_for('delete_table', id=tables.id) }}" title="Удалить" class="btn btn-danger">
      <i class="fas fa-trash-alt"></i></a>
      <a href="{{ url_for('edit_table', id=tables.id) }}" title="Редактировать" class="btn btn-warging"><i class="fas fa-edit"></i></a>
      {% endif %}
   <span id="chek{{ tables.id }}">
        <div class="btn-buy btn btn-success" id="{{ tables.id }}">Заказать</div>
        <div class="btn-del btn btn-danger" id="{{ tables.id }}">Отменить</div>
       </span>
   </div>



 <script>

            {#function myFun{{ tables.id }}(){#}
            {#    var element = document.getElementById('{{ tables.id }}')#}
            {#    var element_del = document.getElementById('visible{{ tables.id }}')#}
            {#        element.classList.add('hidden');#}
            {#        element_del.classList.remove('hidden');#}
            {#     #}




            var status =  document.getElementById('status{{ tables.id }}').innerHTML

                if (status == 'БРОНЬ: '){
                document.getElementById('{{ tables.id }}').classList.remove('btn-buy');
                document.getElementById('{{ tables.id }}').classList.remove('btn-del');
                document.getElementById('{{ tables.id }}').classList.add('glow');
                document.getElementById('chek{{ tables.id }}').style.visibility = "hidden";
               }

       </script>

          {% endfor %}

</div>
{% endblock %}

