{% extends 'base.html' %}
{% block title %}Hall layout{% endblock %}
{% block content %}


    <form class="navbar-form navbar-right" role="search" method="get" action="{{ url_for('search') }}">
        <div class="form-group">
          <input type="date" class="form-control" id="datePicker" name="search" placeholder="Поиск столов" onchange="pushDate(); this.form.submit();">
        </div>


      </form>


<h1><span id="UpdateValue">{{ push_date }}</span></h1>


<form method="POST" action="{{ url_for('checkout') }}">
      <div class="form-group">
{#            <input type="date" class="form-control" onchange="pushDate()" id="datePicker" name="date"/>#}
       </div>
    <button class="btn btn-success" type="submit">Заказать кол. <span id="successAlert">{{ count_cart }}</span> </button>
</form>

<h1>Зал 1</h1>
{%  for i in orders_table %}
    {% if i.date == search %}
        {{ i.date }}
        {% for item in i.items %}
            <p>СТОЛ НОМЕР: {{ item.table.number_t }}</p>
            <h3>ЗАНЯТ</h3>
        {% endfor %}
        {% else %}
        {{ i.date }}
        {% for item in i.items %}
            <p>СТОЛ НОМЕР: {{ item.table.number_t }}</p>
            <h3>СВОБОДЕН</h3>
        {% endfor %}
    {% endif %}
{% endfor %}

    <div class="box">
    {% for tables in tables %}

    <div class="{{ tables.so }}" style="top: {{ tables.margin_top }}%; left:{{ tables.margin_left }}%; transform: rotate({{ tables.rotate }}deg);">
        <h5>№ {{ tables.number_t }}</h5>
        <p>мест: {{ tables.quantity_chairs }}</p><p class="btn-danger" id="date{{ tables.id }}">{{ tables.date }}</p>
         <p>размер стола: {{ tables.with_tab }} на {{ tables.height_tab }} метра</p>
        <a href="{{ url_for('delete_table', id=tables.id) }}" title="Удалить" class="btn btn-danger">
        <i class="fas fa-trash-alt"></i></a>
        <a href="{{ url_for('edit_table', id=tables.id) }}" title="Редактировать" class="btn btn-warging"><i class="fas fa-edit"></i></a>
<span class="{{ tables.id}}">
    <button class="btn btn-success btn-buy" id="{{ tables.id }}">Заказать</button>
</span>
    <button class="btn btn-success btn-del" id="{{ tables.id }}">Отменить</button>


    </div>
        {% endfor %}



    </div>
{% endblock %}


